<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modeswitch">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 使该代码适应多种分辨率 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="模式切换"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModeSwitch">

        <!-- 主菜单 -->
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:label="模式切换">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 传统模式 -->
        <activity
            android:name=".traditional"
            android:exported="false"
            android:label="点击切换技术"
            />

        <!-- 单手主辅模式 -->
        <activity
            android:name=".SingleHandMAndA"
            android:exported="false"
            android:label="主辅选择技术" />

        <!-- 动态区域单手模式 -->
        <activity
            android:name=".SingleDynamic"
            android:exported="false"
            android:label="动态响应技术" />
    </application>

</manifest>